body {
  height: 100vh;
}

.header {
  height: 90px;
  border-bottom: 1px solid #E0DFDE;
}

.header__inner {
  margin: 0 auto;
  padding: 15px 5px 15px 150px;
  max-width: 1230px;
}

.header-utilities {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  color: #8B7969;
  font-size: 40px;
}

.header-utilities nav {
  width: 18%;
}

.header-nav__button {
  text-decoration: none;
}
